[project]
	state = active
	description = For vsftp
[access "refs/*"]
	owner = group sa-admin
	read = group Anonymous Users
	read = group sa-admin
	push = group sa-admin
	label-Code-Review = -2..+2 group sa-admin
	label-Verified = -1..+1 group sa-admin
	submit = group sa-admin
[access "refs/for/*"]
	push = group sa-dev
